@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: rgb(230, 230, 230);
  padding: 20px;
}

h1 {
  font-size: 32px;
  color: #575F7D;
  font-weight: 900;
  padding: 30px;
}

.img-circle {
  border-radius: 50%;
}
p {
  font-size: 17px;
  color: #575F7D;
  font-family: 'Lora', serif;
  line-height: normal;
}

.btn-violet:hover {
  color: rgb(0, 0, 0);
}

.btn-violet {
  padding: 15px;
  background-color: #6B72E1;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #7ECE90;
  font-weight: 700;
  padding: 30px;
}

a:hover {
 color: rgb(0, 0, 0);
}

a {
 color: #6B72E1;
 line-height: 16.7px;
 padding: 30px;
 font-size: 50px;
 margin-bottom: 15px;
 display: inline-block;
}

.box-presentation {
  box-shadow: 3px 3px 15px black;
  margin: 0 auto;
  text-align: center;
  /*width: 600px;*/
  border-radius: 5px;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgb(255, 255, 255);
}

.box-links {
  box-shadow: 3px 3px 15px black;
  margin: 0 auto;
  text-align: center;
  /*width: 600px;*/
  border-radius: 5px;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgb(255, 255, 255);
}

.box-favorites {
  box-shadow: 3px 3px 15px black;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.list-inline li {
  display: inline-block;
  margin-bottom: 0;
}

.container {
  margin: 30px auto;
  width: 700px;
  text-align: center;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
